@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --cardColor: #282D5A;
}

body {
  min-height: 100vh;
  background-color: #01071a;
  color: #FBFBFB;
  /* background-image: url('/assets/background.jpg'); */
  /* background-image: linear-gradient(to right, #def1fb, #142C68);  */
}
